#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Button_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #222222;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #222222;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #222222;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 12px;
  height: 10px;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Button_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #222222;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #222222;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #222222;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 12px;
  height: 10px;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Rectangle_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-2f2316fb-795c-4cfd-8720-617ef7b00490 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}