#s-32b84747-9e29-4e91-9442-0515f3fab0ad > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_11 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 95px;
  height: 738px;
  background-color: #666798;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_4 {
  position: absolute;
  top: 26px;
  left: 925px;
  width: 95px;
  height: 738px;
  background-color: #666798;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1020px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 464px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 16.0pt;
  font-family: 'Century Gothic',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_10 {
  position: absolute;
  top: 375px;
  left: 165px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_11 {
  position: absolute;
  top: 308px;
  left: 191px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Group_1 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 1024px;
  height: 55px;
  display: none;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1020px;
  height: 51px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_1 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 41px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 106px;
  width: 41px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 175px;
  width: 44px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_4 {
  position: absolute;
  top: 8px;
  left: 246px;
  width: 43px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Image_5 {
  position: absolute;
  top: 6px;
  left: 954px;
  width: 44px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_5 {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_6 {
  position: absolute;
  top: 99px;
  left: 0px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_7 {
  position: absolute;
  top: 118px;
  left: 0px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_8 {
  position: absolute;
  top: 80px;
  left: 902px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_9 {
  position: absolute;
  top: 99px;
  left: 902px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_10 {
  position: absolute;
  top: 118px;
  left: 902px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_18 {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 12px;
  height: 10px;
  background-color: #222222;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #222222;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #222222;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #222222;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_17 {
  position: absolute;
  top: 5px;
  left: 9px;
  width: 12px;
  height: 10px;
  background-color: #222222;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #222222;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #222222;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #222222;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_12 {
  position: absolute;
  top: 753px;
  left: 0px;
  width: 1020px;
  height: 11px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_3 {
  position: absolute;
  top: 97px;
  left: 134px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.5pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Category_2 td {
  vertical-align: top;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Category_2 {
  position: absolute;
  top: 127px;
  left: 133px;
  padding-left: 5px;
  width: 255px;
  height: 247px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_4 {
  position: absolute;
  top: 394px;
  left: 127px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.5pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.5pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 {
  position: absolute;
  top: 453px;
  left: 175px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 {
  position: absolute;
  top: 453px;
  left: 432px;
  padding-left: 5px;
  width: 207px;
  height: 27px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_2 {
  position: absolute;
  top: 423px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_5 {
  position: absolute;
  top: 460px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_6 {
  position: absolute;
  top: 460px;
  left: 404px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Category_3 td {
  vertical-align: top;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Category_3 {
  position: absolute;
  top: 510px;
  left: 133px;
  padding-left: 5px;
  width: 255px;
  height: 145px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_7 {
  position: absolute;
  top: 488px;
  left: 132px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_10 {
  position: absolute;
  top: 712px;
  left: 835px;
  width: 62px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_10 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad #s-Button_10 span#rtr-s-Button_10_0 {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-32b84747-9e29-4e91-9442-0515f3fab0ad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}