.btn-add{
    background-color: rgba(39, 174, 96,1.0);
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    cursor: pointer;
    
}

.btn-add:hover{
    background-color: rgba(39, 174, 96,0.8)
}

.btn-delete{
    
    background-color: rgba(192, 57, 43,1.0);
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    cursor: pointer;
}


.btn-delete:hover{
    background-color: rgba(192, 57, 43,0.8);
}

.btn-edit-1{
    
    background-color: rgba(52, 152, 219,1.0);
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    cursor: pointer;
}


.btn-edit-1:hover{
    background-color: rgba(52, 152, 219,0.8);
}



.btn-search{
    display: table;
    height: 37.08px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eeeeee;
    border: 1px solid lightgray;
    border-left: 0px;
    
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    color: black;
    cursor: pointer;
}

.btn-search:hover{
    background-color: rgba(12, 60, 96, 1);
    color: white;
    border: 0px;
}

.btn-search span, .btn-container div span{
    display: table-cell;
    vertical-align: middle;
}

.btn-right{
    float:right;
}

.btn-edit{
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(52, 152, 219,1.0);
    display: inline-block;
    margin: 0px;
    z-index: 1;
    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    cursor: pointer;
}

.btn-edit:hover{
    background-color: rgba(52, 152, 219,0.7);
}

.btn-remove{
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(192, 57, 43,1.0);
    display: inline-block;
    margin:0px;
    z-index: 1;
    
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    cursor: pointer;
}

.btn-remove:hover{
    background-color: rgba(192, 57, 43,0.8);
}

.btn-container div{
    //display: inline-block;
    
}

.btn-container div span{
    width: 100%;
}

.btn-group{
    display: inline-block;
}

.btn-done{
    width: 40px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center!important;
    background-color: rgba(39, 174, 96,1.0);
    display: table;
    margin: 0px;
    z-index: 1;
    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    cursor: pointer;
}

.btn-done:hover{
    background-color: rgba(39, 174, 96,0.8);
}

.btn-clear{
    color: black;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center!important;
    background-color: rgba(189, 195, 199,1.0);
    display: table;
    margin:0px;
    z-index: 1;
    
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    cursor: pointer;
}

.btn-clear:hover{
    background-color:rgba(189, 195, 199,0.8);
}

.close{
    color: white!important;
    padding-top: 5px!important;
    padding-right: 5px!important;
    cursor: pointer;
}