.navbar{
    height: 60px;
    background-color: rgba(12, 60, 96, 1)!important;
    padding: 0px;
    margin: 0px;
    border-radius: 0px!important;
}

.navbar a{
    color:white!important;
}

.navbar a:hover{
    color:white!important;
    text-decoration: none!important;
}

.navbar-right{
    #margin-right: 50px;
}

.navbar-links ul{
    height: 60px;
    display: block;
    padding: 0px;
    margin: 0px;
}

.navbar-links ul li{
    display: inline-block;
    border: 0px;
    color: white;
    line-height: 60px;
}

.not-available{
    cursor: not-allowed;
}

.navbar-link{
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-link:hover{
    background-color: rgb(16, 84, 135);
    cursor: pointer;
}

.navbar-link-selected{
    background-color: rgb(16, 84, 135);
    cursor: pointer;
}


.navbar-dropdown{
    position: relative;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-dropdown-content{
    display: none;
    right: 0px;
    height: auto!important;
    position: absolute;
    background-color: rgba(12, 60, 96, 1);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 0px;
    z-index: 1000000000;
    text-align: center;
}

.navbar-dropdown:hover{
    background-color: rgb(16, 84, 135);
    cursor: pointer;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-dropdown-content ul{
    display: block;
    height: auto!important;
}

.navbar-dropdown-content ul li{
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
}

.navbar-dropdown-content ul li:hover{
    background-color: rgb(16, 84, 135);
    cursor: pointer;
}