.tab{
    border-bottom: 5px solid lightgray;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 30px;
}

.tab:hover{
    background-color: #eeeeee;

}

.tab-selected{
    border-bottom-color: rgba(12, 60, 96, 1);
    font-weight: bold;
}