html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container-fluid-fix{
    padding: 0px!important;
}

.idea-management{
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgb(16, 84, 135);
}

#idea-information-title{
    font-size: 1.5em;
    font-weight: bold;
}

#idea-information-date{
    font-style: italic;
    font-size: 0.9em;
}

.idea-information{
    font-size: 0.9em;
}

.idea-informations-header{
    text-decoration: underline;
}

.idea-content{
    font: normal normal normal 1em raleway,sans-serif;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
    text-align: justify
}