html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.body-title{
    text-align: center;
    font-size: 3em;
    margin-left: -100px;
    margin-top: 50px;
}

.body-title-t{
    color:rgb(16, 84, 135);
    font-weight: bold;
    font-size: 1.3em;
}

.body-subtitle{
    text-align: center;
    margin-top: -20px;
    margin-left: 250px;
    font-size: 1.3em;
    font-style: italic;
    text-decoration: underline;
}

.body-text{
    margin-top: 50px;
}

.body-text-column{
    padding-left: 30px;
    padding-right: 30px;
}

.column-background{
    background-color: rgba(12, 60, 96, 1);
    color: #eeeeee;
    padding: 25px 25px 40px 25px;
}

.body-text-title{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font: normal normal normal 1.3em raleway,sans-serif;
}

.body-text-paragraph{
    text-align: justify;
    text-justify: inter-word;

    margin-top: 15px;
}