html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container-fluid-fix{
    padding: 0px!important;
}

.statistiche-management{
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgb(16, 84, 135);
}

.tab-container{
    padding-top: 10px;
    text-align: center;
}

.chart-title{
    font-size: 1.2em;
    text-decoration:underline;
    font-style: italic;
}