#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b50f51e-4b67-43d9-9df7-c267e9164ec8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}