#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Button_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84a9a013-680c-437a-9f16-71e0544b6c0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}