#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}