#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Table_3 {
  border-collapse: separate;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Table_2 {
  border-collapse: separate;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Table_1 {
  border-collapse: separate;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}