#s-86402d61-6f3a-48a7-adf0-65df180fc62b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_11 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 95px;
  height: 738px;
  background-color: #666798;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_4 {
  position: absolute;
  top: 26px;
  left: 925px;
  width: 95px;
  height: 738px;
  background-color: #666798;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1020px;
  height: 23px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_1 {
  position: absolute;
  top: 0px;
  left: 464px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 16.0pt;
  font-family: 'Century Gothic',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Century Gothic',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_10 {
  position: absolute;
  top: 375px;
  left: 165px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_11 {
  position: absolute;
  top: 308px;
  left: 191px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Group_1 {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 1024px;
  height: 55px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1020px;
  height: 51px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_1 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 41px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 106px;
  width: 41px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_3 {
  position: absolute;
  top: 8px;
  left: 175px;
  width: 44px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_4 {
  position: absolute;
  top: 8px;
  left: 246px;
  width: 43px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Image_5 {
  position: absolute;
  top: 6px;
  left: 954px;
  width: 44px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_5 {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_6 {
  position: absolute;
  top: 99px;
  left: 0px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_7 {
  position: absolute;
  top: 118px;
  left: 0px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_8 {
  position: absolute;
  top: 80px;
  left: 902px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_10 {
  position: absolute;
  top: 99px;
  left: 902px;
  width: 118px;
  height: 16px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: 'Arial Greek',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Greek',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Table_3 {
  position: absolute;
  top: 308px;
  left: 121px;
  width: 702px;
  height: 134px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_37 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 230px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_37 span#rtr-s-Text_cell_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_41 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 224px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_41 span#rtr-s-Text_cell_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_45 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 210px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_45 span#rtr-s-Text_cell_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_38 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_38 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_38 span#rtr-s-Text_cell_38_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_42 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_42 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_42 span#rtr-s-Text_cell_42_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_46 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_46 span#rtr-s-Text_cell_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_39 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_39 span#rtr-s-Text_cell_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_43 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_43 span#rtr-s-Text_cell_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_47 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_47 span#rtr-s-Text_cell_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_40 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_40 span#rtr-s-Text_cell_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_44 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_44 span#rtr-s-Text_cell_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_48 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_48 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_48 span#rtr-s-Text_cell_48_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Table_2 {
  position: absolute;
  top: 208px;
  left: 121px;
  width: 702px;
  height: 134px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_21 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 230px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_25 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 224px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_25 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_25 span#rtr-s-Text_cell_25_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_29 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 210px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_29 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_29 span#rtr-s-Text_cell_29_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_22 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_26 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_26 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_26 span#rtr-s-Text_cell_26_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_30 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_30 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_30 span#rtr-s-Text_cell_30_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_23 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_27 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_27 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_27 span#rtr-s-Text_cell_27_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_31 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_31 span#rtr-s-Text_cell_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_24 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_28 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_28 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_28 span#rtr-s-Text_cell_28_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_32 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_32 span#rtr-s-Text_cell_32_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Table_1 {
  position: absolute;
  top: 108px;
  left: 121px;
  width: 702px;
  height: 134px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 230px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 224px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 210px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA2E;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA45;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA45;
  text-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA45;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_11 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA45;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FDCA45;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_14 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 232px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_15 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 226px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 212px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_21 {
  position: absolute;
  top: 753px;
  left: 0px;
  width: 1020px;
  height: 11px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_21 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-86402d61-6f3a-48a7-adf0-65df180fc62b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}