#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666798;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666798;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666798;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666798;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Button_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #222222;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #222222;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #222222;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 12px;
  height: 10px;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Button_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #222222;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #222222;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #222222;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #222222;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 12px;
  height: 10px;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Rectangle_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 118px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-913a6086-8551-4f03-a3ad-761953b0929b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}