#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}