#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f423301d-1d40-4482-9c1b-e3d6ba8f2fc2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}